.select2-container .select2-selection--single {
    height: 38px !important;
    padding: 6px 12px !important;
    border: 1px solid #ced4da !important; 
    border-radius: 0.25rem !important;
    margin-bottom: .5rem !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 24px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px !important;
}

.dashboard-icon {
    font-size: xxx-large;
    color:white;
}
.dashboard-card-body {
    color: white;
}
.items-card {
    background:seagreen
}
.problematic-items-card {
    background: #D32F2F;
}
.asset-loans-card {
    background:orangered;
}

.employees-card {
    background:#003366;
}

/* 4E3A2E */